<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT countries ANY>
<!ATTLIST countries id ID #REQUIRED>
<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT employee ANY>
<!ATTLIST employee id ID #REQUIRED>
<!ELEMENT country ANY>
<!ATTLIST country id ID #REQUIRED>
<!ELEMENT departement ANY>
<!ATTLIST departement id ID #REQUIRED>
<!ELEMENT office ANY>
<!ATTLIST office id ID #REQUIRED>
]>
<root id="-1">
  <navigationBase id="1179" key="ea39833d-123d-4303-947b-8a9dd791fa94" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2019-10-31T11:52:38" updateDate="2019-10-31T11:52:38" nodeName="Home" urlName="home" path="-1,1179" isDoc="" nodeType="1097" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="0" nodeTypeAlias="navigationBase" isPublished="true">
    <umbracoNavihide>0</umbracoNavihide>
    <countries id="1183" key="ee65caf5-e525-479e-87bd-220a0088e360" parentID="1179" level="2" creatorID="0" sortOrder="3" createDate="2019-10-31T13:30:49" updateDate="2019-10-31T14:36:31" nodeName="Countries" urlName="countries" path="-1,1179,1183" isDoc="" nodeType="1182" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1181" nodeTypeAlias="countries" isPublished="true">
      <countriesName><![CDATA[umb://document/36e18a01aa5a43dcbb4f1385a9b4f8b5,umb://document/6951a4b947c54876a5c93bee5c81b07b,umb://document/330b18ccf1c84dc797f12a740f95bc58,umb://document/753d357bc69b489e8de9d32af75ce3a3,umb://document/6604ae41901043769b25da1522bae186,umb://document/de509092a8a141c0baefa24a390f46fd,umb://document/5618ea2aa6e04eee92004fc4c7506af6]]></countriesName>
      <country id="1163" key="6951a4b9-47c5-4876-a5c9-3bee5c81b07b" parentID="1183" level="3" creatorID="0" sortOrder="1" createDate="2019-10-30T13:24:42" updateDate="2019-10-31T13:31:07" nodeName="Sweden" urlName="sweden" path="-1,1179,1183,1163" isDoc="" nodeType="1156" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1155" nodeTypeAlias="country" isPublished="true">
        <office><![CDATA[umb://document/a8a464a460844e30b44b271b244aee15]]></office>
        <countryname><![CDATA[Sweden]]></countryname>
        <office id="1175" key="a8a464a4-6084-4e30-b44b-271b244aee15" parentID="1163" level="4" creatorID="0" sortOrder="2" createDate="2019-10-30T13:53:44" updateDate="2019-10-31T13:31:07" nodeName="Global Total" urlName="global-total" path="-1,1179,1183,1163,1175" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[25227]]></zIP>
          <officeName><![CDATA[Global Total]]></officeName>
          <departement><![CDATA[umb://document/6a217c2bf628422789898f2e530928f0]]></departement>
          <city><![CDATA[helsingborg]]></city>
          <streetName><![CDATA[Bryggaregatan 40]]></streetName>
          <departement id="1176" key="6a217c2b-f628-4227-8989-8f2e530928f0" parentID="1175" level="5" creatorID="0" sortOrder="2" createDate="2019-10-30T13:54:30" updateDate="2019-10-31T13:31:07" nodeName="Awesome Department" urlName="awesome-department" path="-1,1179,1183,1163,1175,1176" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Awesome Department]]></departementName>
            <employee id="1177" key="2bea7317-f5e3-42ab-b67a-444e7d2766d0" parentID="1176" level="6" creatorID="0" sortOrder="2" createDate="2019-10-30T13:55:03" updateDate="2019-10-31T13:31:07" nodeName="Alexander Olofsson" urlName="alexander-olofsson" path="-1,1179,1183,1163,1175,1176,1177" isDoc="" nodeType="1148" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1147" nodeTypeAlias="employee" isPublished="true">
              <lastName><![CDATA[Olofsson]]></lastName>
              <phoneNumberAbbr><![CDATA[0706962252]]></phoneNumberAbbr>
              <phoneNumber><![CDATA[0706962252]]></phoneNumber>
              <email><![CDATA[phenomphenom@live.se]]></email>
              <firstName><![CDATA[Alexander]]></firstName>
              <empNo><![CDATA[1]]></empNo>
            </employee>
          </departement>
        </office>
      </country>
      <country id="1178" key="36e18a01-aa5a-43dc-bb4f-1385a9b4f8b5" parentID="1183" level="3" creatorID="0" sortOrder="2" createDate="2019-10-31T11:19:31" updateDate="2019-10-31T13:31:18" nodeName="Kazakstan" urlName="kazakstan" path="-1,1179,1183,1178" isDoc="" nodeType="1156" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1155" nodeTypeAlias="country" isPublished="true">
        <countryname><![CDATA[Kazakstan]]></countryname>
        <office id="1191" key="d3ae1c9d-6fd3-42f1-bcac-b7ff0cafefd5" parentID="1178" level="4" creatorID="0" sortOrder="0" createDate="2019-10-31T14:26:52" updateDate="2019-10-31T14:50:03" nodeName="Astana Office" urlName="astana-office" path="-1,1179,1183,1178,1191" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[74123]]></zIP>
          <officeName><![CDATA[Astana Office]]></officeName>
          <departement><![CDATA[umb://document/b00b164917ff4c2ab1526fd639853c24,umb://document/61143d70884d4902931303a357d39305]]></departement>
          <city><![CDATA[Astana]]></city>
          <streetName><![CDATA[Mockaddress 103]]></streetName>
          <departement id="1201" key="b00b1649-17ff-4c2a-b152-6fd639853c24" parentID="1191" level="5" creatorID="0" sortOrder="0" createDate="2019-10-31T14:47:10" updateDate="2019-10-31T14:47:11" nodeName="Research &amp; Development" urlName="research-development" path="-1,1179,1183,1178,1191,1201" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Research & Development]]></departementName>
            <employee id="1225" key="03050cb3-8e0a-4e82-842b-17cf320a4600" parentID="1201" level="6" creatorID="0" sortOrder="0" createDate="2019-10-31T15:07:10" updateDate="2019-10-31T15:07:10" nodeName="Preben Rasmusen" urlName="preben-rasmusen" path="-1,1179,1183,1178,1191,1201,1225" isDoc="" nodeType="1148" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1147" nodeTypeAlias="employee" isPublished="true">
              <lastName><![CDATA[Rasmusen]]></lastName>
              <phoneNumberAbbr><![CDATA[987]]></phoneNumberAbbr>
              <phoneNumber><![CDATA[+45 321654987]]></phoneNumber>
              <email><![CDATA[preben@global.com]]></email>
              <firstName><![CDATA[Preben]]></firstName>
              <empNo><![CDATA[101]]></empNo>
            </employee>
            <employee id="1226" key="0b7719af-0f54-4334-a604-2e74e4339b82" parentID="1201" level="6" creatorID="0" sortOrder="1" createDate="2019-10-31T15:08:18" updateDate="2019-10-31T15:08:18" nodeName="Horst Hinkel" urlName="horst-hinkel" path="-1,1179,1183,1178,1191,1201,1226" isDoc="" nodeType="1148" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1147" nodeTypeAlias="employee" isPublished="true">
              <lastName><![CDATA[Hinkel]]></lastName>
              <phoneNumberAbbr><![CDATA[321]]></phoneNumberAbbr>
              <phoneNumber><![CDATA[+45 456987321]]></phoneNumber>
              <email><![CDATA[horst@global.com]]></email>
              <firstName><![CDATA[Horst]]></firstName>
              <empNo><![CDATA[102]]></empNo>
            </employee>
          </departement>
          <departement id="1202" key="61143d70-884d-4902-9313-03a357d39305" parentID="1191" level="5" creatorID="0" sortOrder="1" createDate="2019-10-31T14:47:35" updateDate="2019-10-31T14:47:35" nodeName="Administration" urlName="administration" path="-1,1179,1183,1178,1191,1202" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Administration]]></departementName>
            <employee id="1227" key="058672a8-74c2-48ea-9a7d-044a866afcf9" parentID="1202" level="6" creatorID="0" sortOrder="0" createDate="2019-11-01T12:31:37" updateDate="2019-11-01T12:31:37" nodeName="Werner Herzog" urlName="werner-herzog" path="-1,1179,1183,1178,1191,1202,1227" isDoc="" nodeType="1148" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1147" nodeTypeAlias="employee" isPublished="true">
              <lastName><![CDATA[Herzog]]></lastName>
              <phoneNumberAbbr><![CDATA[798]]></phoneNumberAbbr>
              <phoneNumber><![CDATA[+69 123654798]]></phoneNumber>
              <email><![CDATA[werner@global.com]]></email>
              <firstName><![CDATA[Werner]]></firstName>
              <empNo><![CDATA[103]]></empNo>
            </employee>
            <employee id="1228" key="18445452-34e3-4ffa-b050-365ce2f27928" parentID="1202" level="6" creatorID="0" sortOrder="1" createDate="2019-11-01T12:32:29" updateDate="2019-11-01T12:32:29" nodeName="Glenn Hysen" urlName="glenn-hysen" path="-1,1179,1183,1178,1191,1202,1228" isDoc="" nodeType="1148" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1147" nodeTypeAlias="employee" isPublished="true">
              <lastName><![CDATA[Hysen]]></lastName>
              <phoneNumberAbbr><![CDATA[132]]></phoneNumberAbbr>
              <phoneNumber><![CDATA[+46 315898762132]]></phoneNumber>
              <email><![CDATA[glenn@global.com]]></email>
              <firstName><![CDATA[Glenn]]></firstName>
              <empNo><![CDATA[104]]></empNo>
            </employee>
          </departement>
        </office>
        <office id="1192" key="40f090bb-0354-4635-9088-4e83ab2f3dbc" parentID="1178" level="4" creatorID="0" sortOrder="1" createDate="2019-10-31T14:27:36" updateDate="2019-10-31T14:50:23" nodeName="Qaraghandy Office" urlName="qaraghandy-office" path="-1,1179,1183,1178,1192" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[85214]]></zIP>
          <officeName><![CDATA[Qaraghandy Office]]></officeName>
          <departement><![CDATA[umb://document/79fdaac92e33423abe120605a6b76bcb,umb://document/a3fc1d7cf321406d84c0bda20411bf74]]></departement>
          <city><![CDATA[Qaraghandy]]></city>
          <streetName><![CDATA[Mockaddress 104]]></streetName>
          <departement id="1203" key="79fdaac9-2e33-423a-be12-0605a6b76bcb" parentID="1192" level="5" creatorID="0" sortOrder="0" createDate="2019-10-31T14:49:14" updateDate="2019-10-31T14:49:14" nodeName="Research &amp; Development" urlName="research-development" path="-1,1179,1183,1178,1192,1203" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Research & Development]]></departementName>
            <employee id="1229" key="ac61d901-32f8-47a4-8b65-33dbf0c20af0" parentID="1203" level="6" creatorID="0" sortOrder="0" createDate="2019-11-01T12:33:32" updateDate="2019-11-01T12:33:32" nodeName="Günther Grass" urlName="guenther-grass" path="-1,1179,1183,1178,1192,1203,1229" isDoc="" nodeType="1148" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1147" nodeTypeAlias="employee" isPublished="true">
              <lastName><![CDATA[Grass]]></lastName>
              <phoneNumberAbbr><![CDATA[325]]></phoneNumberAbbr>
              <phoneNumber><![CDATA[+48 987456325]]></phoneNumber>
              <email><![CDATA[gunther@global.com]]></email>
              <firstName><![CDATA[Günther]]></firstName>
              <empNo><![CDATA[105]]></empNo>
            </employee>
            <employee id="1230" key="e36ca0c8-9896-40f9-a0b6-04d6aaaa0847" parentID="1203" level="6" creatorID="0" sortOrder="1" createDate="2019-11-01T12:34:15" updateDate="2019-11-01T12:34:15" nodeName="Fritz Lang" urlName="fritz-lang" path="-1,1179,1183,1178,1192,1203,1230" isDoc="" nodeType="1148" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1147" nodeTypeAlias="employee" isPublished="true">
              <lastName><![CDATA[Lang]]></lastName>
              <phoneNumberAbbr><![CDATA[8563]]></phoneNumberAbbr>
              <phoneNumber><![CDATA[+58 489851233578563]]></phoneNumber>
              <email><![CDATA[fritz@global.com]]></email>
              <firstName><![CDATA[Fritz]]></firstName>
              <empNo><![CDATA[106]]></empNo>
            </employee>
          </departement>
          <departement id="1204" key="a3fc1d7c-f321-406d-84c0-bda20411bf74" parentID="1192" level="5" creatorID="0" sortOrder="1" createDate="2019-10-31T14:49:40" updateDate="2019-10-31T14:49:40" nodeName="Administration" urlName="administration" path="-1,1179,1183,1178,1192,1204" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Administration]]></departementName>
          </departement>
        </office>
      </country>
      <country id="1184" key="330b18cc-f1c8-4dc7-97f1-2a740f95bc58" parentID="1183" level="3" creatorID="0" sortOrder="3" createDate="2019-10-31T14:19:39" updateDate="2019-10-31T14:25:08" nodeName="Uzbekistan" urlName="uzbekistan" path="-1,1179,1183,1184" isDoc="" nodeType="1156" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1155" nodeTypeAlias="country" isPublished="true">
        <office><![CDATA[umb://document/b4e72018550b4d5d8496688691811325,umb://document/ce1954cc36a4458c9f4d64c640968473]]></office>
        <countryname><![CDATA[Uzbekistan]]></countryname>
        <office id="1189" key="b4e72018-550b-4d5d-8496-688691811325" parentID="1184" level="4" creatorID="0" sortOrder="0" createDate="2019-10-31T14:24:05" updateDate="2019-10-31T15:00:00" nodeName="Tasjkent Office" urlName="tasjkent-office" path="-1,1179,1183,1184,1189" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[45652]]></zIP>
          <officeName><![CDATA[Tasjkent Office]]></officeName>
          <departement><![CDATA[umb://document/6ef2f59ed5324239a1aa477ff38fca36,umb://document/cd790a08d6894298b95abbea41899db8]]></departement>
          <city><![CDATA[Tasjkent]]></city>
          <streetName><![CDATA[Mockaddress 101]]></streetName>
          <departement id="1205" key="6ef2f59e-d532-4239-a1aa-477ff38fca36" parentID="1189" level="5" creatorID="0" sortOrder="0" createDate="2019-10-31T14:50:45" updateDate="2019-10-31T14:50:45" nodeName="Research &amp; Development" urlName="research-development" path="-1,1179,1183,1184,1189,1205" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Research & Development]]></departementName>
          </departement>
          <departement id="1215" key="cd790a08-d689-4298-b95a-bbea41899db8" parentID="1189" level="5" creatorID="0" sortOrder="1" createDate="2019-10-31T14:53:50" updateDate="2019-10-31T14:53:50" nodeName="Administration" urlName="administration" path="-1,1179,1183,1184,1189,1215" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Administration]]></departementName>
          </departement>
        </office>
        <office id="1190" key="ce1954cc-36a4-458c-9f4d-64c640968473" parentID="1184" level="4" creatorID="0" sortOrder="1" createDate="2019-10-31T14:24:46" updateDate="2019-10-31T14:59:38" nodeName="Samarkand Office" urlName="samarkand-office" path="-1,1179,1183,1184,1190" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[78963]]></zIP>
          <officeName><![CDATA[Samarkand Office]]></officeName>
          <departement><![CDATA[umb://document/398698868bf74193b03df2e1c9d55ee7,umb://document/446c94beb9a1474fb46e454d227b5181]]></departement>
          <city><![CDATA[Samarkand]]></city>
          <streetName><![CDATA[Mockaddress 102]]></streetName>
          <departement id="1206" key="39869886-8bf7-4193-b03d-f2e1c9d55ee7" parentID="1190" level="5" creatorID="0" sortOrder="0" createDate="2019-10-31T14:50:59" updateDate="2019-10-31T14:50:59" nodeName="Research &amp; Development" urlName="research-development" path="-1,1179,1183,1184,1190,1206" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Research & Development]]></departementName>
          </departement>
          <departement id="1216" key="446c94be-b9a1-474f-b46e-454d227b5181" parentID="1190" level="5" creatorID="0" sortOrder="1" createDate="2019-10-31T14:54:02" updateDate="2019-10-31T14:54:02" nodeName="Administration" urlName="administration" path="-1,1179,1183,1184,1190,1216" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Administration]]></departementName>
          </departement>
        </office>
      </country>
      <country id="1185" key="753d357b-c69b-489e-8de9-d32af75ce3a3" parentID="1183" level="3" creatorID="0" sortOrder="4" createDate="2019-10-31T14:20:28" updateDate="2019-10-31T14:29:24" nodeName="Kyrgyzstan" urlName="kyrgyzstan" path="-1,1179,1183,1185" isDoc="" nodeType="1156" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1155" nodeTypeAlias="country" isPublished="true">
        <office><![CDATA[umb://document/0309f60f22c44602a596c985cdf222d9,umb://document/aeec0b86696e41d098c5557279c96bb9]]></office>
        <countryname><![CDATA[Kyrgyzstan]]></countryname>
        <office id="1193" key="0309f60f-22c4-4602-a596-c985cdf222d9" parentID="1185" level="4" creatorID="0" sortOrder="0" createDate="2019-10-31T14:28:20" updateDate="2019-10-31T14:58:53" nodeName="Bisjkek Office" urlName="bisjkek-office" path="-1,1179,1183,1185,1193" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[89632]]></zIP>
          <officeName><![CDATA[Bisjkek Office]]></officeName>
          <departement><![CDATA[umb://document/791eb1897f1b4a9caa0fd62e42533632,umb://document/664521c279b748299265d689541d4956]]></departement>
          <city><![CDATA[Bisjkek]]></city>
          <streetName><![CDATA[Mockaddress 105]]></streetName>
          <departement id="1207" key="791eb189-7f1b-4a9c-aa0f-d62e42533632" parentID="1193" level="5" creatorID="0" sortOrder="0" createDate="2019-10-31T14:51:16" updateDate="2019-10-31T14:51:16" nodeName="Research &amp; Development" urlName="research-development" path="-1,1179,1183,1185,1193,1207" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Research & Development]]></departementName>
          </departement>
          <departement id="1217" key="664521c2-79b7-4829-9265-d689541d4956" parentID="1193" level="5" creatorID="0" sortOrder="1" createDate="2019-10-31T14:54:16" updateDate="2019-10-31T14:54:16" nodeName="Administration" urlName="administration" path="-1,1179,1183,1185,1193,1217" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Administration]]></departementName>
          </departement>
        </office>
        <office id="1194" key="aeec0b86-696e-41d0-98c5-557279c96bb9" parentID="1185" level="4" creatorID="0" sortOrder="1" createDate="2019-10-31T14:29:02" updateDate="2019-10-31T14:59:13" nodeName="Tokmok Office" urlName="tokmok-office" path="-1,1179,1183,1185,1194" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[85478]]></zIP>
          <officeName><![CDATA[Tokmok Office]]></officeName>
          <departement><![CDATA[umb://document/768adf91e55d4e41ba3a4d32e5355c28,umb://document/97fcd50b4ce3457ebb6a64688802ebff]]></departement>
          <city><![CDATA[Tokmok]]></city>
          <streetName><![CDATA[Mockaddress 106]]></streetName>
          <departement id="1208" key="768adf91-e55d-4e41-ba3a-4d32e5355c28" parentID="1194" level="5" creatorID="0" sortOrder="0" createDate="2019-10-31T14:51:29" updateDate="2019-10-31T14:51:29" nodeName="Research &amp; Development" urlName="research-development" path="-1,1179,1183,1185,1194,1208" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Research & Development]]></departementName>
          </departement>
          <departement id="1218" key="97fcd50b-4ce3-457e-bb6a-64688802ebff" parentID="1194" level="5" creatorID="0" sortOrder="1" createDate="2019-10-31T14:54:37" updateDate="2019-10-31T14:54:37" nodeName="Administration" urlName="administration" path="-1,1179,1183,1185,1194,1218" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Administration]]></departementName>
          </departement>
        </office>
      </country>
      <country id="1186" key="6604ae41-9010-4376-9b25-da1522bae186" parentID="1183" level="3" creatorID="0" sortOrder="5" createDate="2019-10-31T14:20:46" updateDate="2019-10-31T14:30:57" nodeName="Tadzjikistan" urlName="tadzjikistan" path="-1,1179,1183,1186" isDoc="" nodeType="1156" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1155" nodeTypeAlias="country" isPublished="true">
        <office><![CDATA[umb://document/74f36cf6eda049f5b351a4823f71a86d,umb://document/23f765841a93428c845d1daafa101185]]></office>
        <countryname><![CDATA[Tadzjikistan]]></countryname>
        <office id="1195" key="74f36cf6-eda0-49f5-b351-a4823f71a86d" parentID="1186" level="4" creatorID="0" sortOrder="0" createDate="2019-10-31T14:30:08" updateDate="2019-10-31T14:58:29" nodeName="Dusjanbe Office" urlName="dusjanbe-office" path="-1,1179,1183,1186,1195" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[89865]]></zIP>
          <officeName><![CDATA[Dusjanbe Office]]></officeName>
          <departement><![CDATA[umb://document/59f0eafba711453ab769b0a0aad878a1,umb://document/d64a2bf5534548df9378867595f88bb9]]></departement>
          <city><![CDATA[Dusjanbe]]></city>
          <streetName><![CDATA[Mockaddress 107]]></streetName>
          <departement id="1209" key="59f0eafb-a711-453a-b769-b0a0aad878a1" parentID="1195" level="5" creatorID="0" sortOrder="0" createDate="2019-10-31T14:52:02" updateDate="2019-10-31T14:52:02" nodeName="Research &amp; Development" urlName="research-development" path="-1,1179,1183,1186,1195,1209" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Research & Development]]></departementName>
          </departement>
          <departement id="1219" key="d64a2bf5-5345-48df-9378-867595f88bb9" parentID="1195" level="5" creatorID="0" sortOrder="1" createDate="2019-10-31T14:54:54" updateDate="2019-10-31T14:54:54" nodeName="Administration" urlName="administration" path="-1,1179,1183,1186,1195,1219" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Administration]]></departementName>
          </departement>
        </office>
        <office id="1196" key="23f76584-1a93-428c-845d-1daafa101185" parentID="1186" level="4" creatorID="0" sortOrder="1" createDate="2019-10-31T14:30:42" updateDate="2019-10-31T14:58:07" nodeName="Qurghonteppa Office" urlName="qurghonteppa-office" path="-1,1179,1183,1186,1196" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[78964]]></zIP>
          <officeName><![CDATA[Qurghonteppa Office]]></officeName>
          <departement><![CDATA[umb://document/144da409755347b6a7ebce53fda2a02d,umb://document/a7b03a85ef484e6a9a81adc087c2f6dd]]></departement>
          <city><![CDATA[Qurghonteppa]]></city>
          <streetName><![CDATA[Mockaddress 108]]></streetName>
          <departement id="1210" key="144da409-7553-47b6-a7eb-ce53fda2a02d" parentID="1196" level="5" creatorID="0" sortOrder="0" createDate="2019-10-31T14:52:12" updateDate="2019-10-31T14:52:12" nodeName="Research &amp; Development" urlName="research-development" path="-1,1179,1183,1186,1196,1210" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Research & Development]]></departementName>
          </departement>
          <departement id="1220" key="a7b03a85-ef48-4e6a-9a81-adc087c2f6dd" parentID="1196" level="5" creatorID="0" sortOrder="1" createDate="2019-10-31T14:55:05" updateDate="2019-10-31T14:55:05" nodeName="Administration" urlName="administration" path="-1,1179,1183,1186,1196,1220" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Administration]]></departementName>
          </departement>
        </office>
      </country>
      <country id="1187" key="de509092-a8a1-41c0-baef-a24a390f46fd" parentID="1183" level="3" creatorID="0" sortOrder="6" createDate="2019-10-31T14:21:17" updateDate="2019-10-31T14:33:00" nodeName="Turkmenistan" urlName="turkmenistan" path="-1,1179,1183,1187" isDoc="" nodeType="1156" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1155" nodeTypeAlias="country" isPublished="true">
        <office><![CDATA[umb://document/76562d7f2e5345eea9f17cd2f4fb4dc2,umb://document/ce96adea158b493084b3bb2212242a2f]]></office>
        <countryname><![CDATA[Turkmenistan]]></countryname>
        <office id="1197" key="76562d7f-2e53-45ee-a9f1-7cd2f4fb4dc2" parentID="1187" level="4" creatorID="0" sortOrder="0" createDate="2019-10-31T14:32:04" updateDate="2019-10-31T14:57:30" nodeName="Asjchabad Office" urlName="asjchabad-office" path="-1,1179,1183,1187,1197" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[85479]]></zIP>
          <officeName><![CDATA[Asjchabad Office]]></officeName>
          <departement><![CDATA[umb://document/f611b4288b1242e78e5a4bf9b6140bc0,umb://document/14561c1b313a41b6a74513789ed27d71]]></departement>
          <city><![CDATA[Asjchabad]]></city>
          <streetName><![CDATA[Mockaddress 109]]></streetName>
          <departement id="1211" key="f611b428-8b12-42e7-8e5a-4bf9b6140bc0" parentID="1197" level="5" creatorID="0" sortOrder="0" createDate="2019-10-31T14:52:27" updateDate="2019-10-31T14:52:27" nodeName="Research &amp; Development" urlName="research-development" path="-1,1179,1183,1187,1197,1211" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Research & Development]]></departementName>
          </departement>
          <departement id="1221" key="14561c1b-313a-41b6-a745-13789ed27d71" parentID="1197" level="5" creatorID="0" sortOrder="1" createDate="2019-10-31T14:55:19" updateDate="2019-10-31T14:55:19" nodeName="Administration" urlName="administration" path="-1,1179,1183,1187,1197,1221" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Administration]]></departementName>
          </departement>
        </office>
        <office id="1198" key="ce96adea-158b-4930-84b3-bb2212242a2f" parentID="1187" level="4" creatorID="0" sortOrder="1" createDate="2019-10-31T14:32:45" updateDate="2019-10-31T14:57:09" nodeName="Türkmenabat Office" urlName="tuerkmenabat-office" path="-1,1179,1183,1187,1198" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[85473]]></zIP>
          <officeName><![CDATA[Türkmenabat Office]]></officeName>
          <departement><![CDATA[umb://document/28d9baaf5e5640768c8e5665050ecbc2,umb://document/cb2bce4113bf4320b90dc79b49586559]]></departement>
          <city><![CDATA[Türkmenabat]]></city>
          <streetName><![CDATA[Mockaddress 110]]></streetName>
          <departement id="1212" key="28d9baaf-5e56-4076-8c8e-5665050ecbc2" parentID="1198" level="5" creatorID="0" sortOrder="0" createDate="2019-10-31T14:52:39" updateDate="2019-10-31T14:52:39" nodeName="Research &amp; Development" urlName="research-development" path="-1,1179,1183,1187,1198,1212" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Research & Development]]></departementName>
          </departement>
          <departement id="1222" key="cb2bce41-13bf-4320-b90d-c79b49586559" parentID="1198" level="5" creatorID="0" sortOrder="1" createDate="2019-10-31T14:55:31" updateDate="2019-10-31T14:55:31" nodeName="Administration" urlName="administration" path="-1,1179,1183,1187,1198,1222" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Administration]]></departementName>
          </departement>
        </office>
      </country>
      <country id="1188" key="5618ea2a-a6e0-4eee-9200-4fc4c7506af6" parentID="1183" level="3" creatorID="0" sortOrder="7" createDate="2019-10-31T14:21:40" updateDate="2019-10-31T14:35:09" nodeName="Germany" urlName="germany" path="-1,1179,1183,1188" isDoc="" nodeType="1156" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1155" nodeTypeAlias="country" isPublished="true">
        <office><![CDATA[umb://document/58fabaaa5df74c9da6dcb18c803940bc,umb://document/ef60ebeabba04be3a938619242594a2f]]></office>
        <countryname><![CDATA[Germany]]></countryname>
        <office id="1199" key="58fabaaa-5df7-4c9d-a6dc-b18c803940bc" parentID="1188" level="4" creatorID="0" sortOrder="0" createDate="2019-10-31T14:34:02" updateDate="2019-10-31T14:56:41" nodeName="Bremen Office" urlName="bremen-office" path="-1,1179,1183,1188,1199" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[78521]]></zIP>
          <officeName><![CDATA[Bremen Office]]></officeName>
          <departement><![CDATA[umb://document/543c23ae92274a4abaf5d4ee09aaa7bd,umb://document/3e23d1c4bfa44354b450ec2846d8391a]]></departement>
          <city><![CDATA[Bremen]]></city>
          <streetName><![CDATA[Bremen Strasse 524]]></streetName>
          <departement id="1213" key="543c23ae-9227-4a4a-baf5-d4ee09aaa7bd" parentID="1199" level="5" creatorID="0" sortOrder="0" createDate="2019-10-31T14:52:56" updateDate="2019-10-31T14:52:56" nodeName="Research &amp; Development" urlName="research-development" path="-1,1179,1183,1188,1199,1213" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Research & Development]]></departementName>
          </departement>
          <departement id="1223" key="3e23d1c4-bfa4-4354-b450-ec2846d8391a" parentID="1199" level="5" creatorID="0" sortOrder="1" createDate="2019-10-31T14:55:46" updateDate="2019-10-31T14:55:46" nodeName="Administration" urlName="administration" path="-1,1179,1183,1188,1199,1223" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Administration]]></departementName>
          </departement>
        </office>
        <office id="1200" key="ef60ebea-bba0-4be3-a938-619242594a2f" parentID="1188" level="4" creatorID="0" sortOrder="1" createDate="2019-10-31T14:34:46" updateDate="2019-10-31T14:56:21" nodeName="Knüllwald Office" urlName="knuellwald-office" path="-1,1179,1183,1188,1200" isDoc="" nodeType="1172" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1153" nodeTypeAlias="office" isPublished="true">
          <zIP><![CDATA[23654]]></zIP>
          <officeName><![CDATA[Knüllwald Office]]></officeName>
          <departement><![CDATA[umb://document/054eae998861486f9e2159503c5d5204,umb://document/509cb8c53aa64855bdcbee43e8c68b25]]></departement>
          <city><![CDATA[Knüllwald]]></city>
          <streetName><![CDATA[Kassel Strasse 85]]></streetName>
          <departement id="1214" key="509cb8c5-3aa6-4855-bdcb-ee43e8c68b25" parentID="1200" level="5" creatorID="0" sortOrder="0" createDate="2019-10-31T14:53:06" updateDate="2019-10-31T14:53:06" nodeName="Research &amp; Development" urlName="research-development" path="-1,1179,1183,1188,1200,1214" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Research & Development]]></departementName>
          </departement>
          <departement id="1224" key="054eae99-8861-486f-9e21-59503c5d5204" parentID="1200" level="5" creatorID="0" sortOrder="1" createDate="2019-10-31T14:55:58" updateDate="2019-10-31T14:55:58" nodeName="Administration" urlName="administration" path="-1,1179,1183,1188,1200,1224" isDoc="" nodeType="1170" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1169" nodeTypeAlias="departement" isPublished="true">
            <departementName><![CDATA[Administration]]></departementName>
          </departement>
        </office>
      </country>
    </countries>
  </navigationBase>
</root>