<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1065" key="695e52b2-a09a-4cc0-8d0f-811fffec52b6" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-10-28T11:26:46" updateDate="2019-10-28T11:26:46" nodeName="Homepage" urlName="homepage" path="-1,1065" isDoc="" nodeType="1061" creatorName="Global_CMS" writerName="Global_CMS" writerID="0" template="1060" nodeTypeAlias="homePage" isPublished="true">
    <pageTitle><![CDATA[Welcome to Global CMS]]></pageTitle>
    <bodyText><![CDATA[<p>Hello world! We can write what we like here!</p>
<p>"Global CMS 2019"</p>]]></bodyText>
    <footerText><![CDATA["Copyright Widgets Ltd 2014"]]></footerText>
  </homePage>
</root>