<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT employee ANY>
<!ATTLIST employee id ID #REQUIRED>
<!ELEMENT departements ANY>
<!ATTLIST departements id ID #REQUIRED>
<!ELEMENT office ANY>
<!ATTLIST office id ID #REQUIRED>
<!ELEMENT country ANY>
<!ATTLIST country id ID #REQUIRED>
]>
<root id="-1" />